<%= form_for @appeal do |f| %>
<% if @appeal.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@appeal.errors.count, "error") %> prohibited this article from being saved:
    </h2>
    <ul>
      <% @appeal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= f.label :title, 'Тема' %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description, 'Подробности' %><br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :contact, 'Контакты' %><br />
  <%= f.text_field :contact %>
</p>
<p>
  <%= f.submit 'Отправить' %>
</p>
<% end %>