<!DOCTYPE html>
<html>
<head>
  <title>Гнеф.рф &mdash; база данных негодяев, кидал, обманщиков и мошенников</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Вы вошли как <%= link_to "#{current_user.name}", '/appeals' %> | 
  <%= link_to 'Главная','/' %> | 
  <%= link_to 'Выход', '/logout' %><br />
<% else %>
  <%= link_to 'Вход', '/login' %> | <%= link_to 'Регистрация', '/signup' %>
<% end %>

<%= yield %>

</body>
</html>
